{% extends "layout/admin.html.twig" %}

{% block header_actions %}

<a href="{{path('app_brand_create')}}" class="btn btn-primary">Ajouter une marque</a>


{% endblock %}

{% block content_title %}Liste des marques{% endblock %}

{% block content %}

<table class="table">



    <tbody>

        <tr>
            <td class="d-flex align-items-center">
                <img src="{{asset('uploads/logo_images/' ~ brand.logoUrl)}}" alt="" width="50" height="50"
                    class="rounded me-3 shadow">
                <div class="">
                    <strong>{{brand.name}}</strong> <br>
                    <span class="text-muted">{{brand.description|raw}}</span>
                </div>
            </td>
            <td>{{brand.status.value}} </td>
            <td></td>
            <td>
                <div class="dropdown">
                    <button class="btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                      ...
                    </button>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="{{path('app_brand_show', {'id': brand.id})}}">Modifier</a></li>
                      <li><a class="dropdown-item" href="{{path('app_brand_edit', {'id': brand.id})}}">Supprimer</a></li>
                      <li><a class="dropdown-item" href="{{path('app_brand_edit', {'id': brand.id})}}">Desactiver</a></li>
                    </ul>
                  </div>
            </td>
        </tr>

    </tbody>
</table


{% endblock %}