{% extends "layout/admin.html.twig" %}

{% block header_actions %}

<a href="{{path('app_product_create')}}" class="btn btn-primary">Ajouter un produit</a>
{% endblock %}
{% block content %}

<table class="table">
    <thead>
        <tr>
            <th>Produit</th>
            {# <th>Marque</th> #}
            <th>Catégorie</th>
            <th>Statut</th>
            <th>Prix</th>
            <th>Stock disponible</th>
            <th>Total ventes</th>
            <th></th>
        </tr>
    </thead>

    <tbody>

        {% for product in products %}
        <tr>
            <td class="d-flex align-items-center">
                <img src="{{asset('uploads/product_images/' ~ product.thumbnail)}}" alt="" width="50" height="50"
                    class="rounded me-3 shadow">
                <div class="">
                    <strong>{{product.name}}</strong> <br>
                    <span class="text-muted">{{product.description|raw}}</span>
                </div>
            </td>
            {# <td>
                {{product.brand.name}}
            </td> #}
            <td>
                {{product.category.name}}
            </td>
            <td>{{product.status.value}}</td>
            <td>{{product.price|number_format(2, ',', ' ')}} FCFA</td>
            <td>{{product.inventory.quantityAvailable}}</td>
            {# <td>{{product.stock|number_format(0, ',', ' ')}}</td> #}
            {# <td>{{product.totalSales}}</td> #}
            <td></td>
            <td>
                <div class="dropdown">
                    <button class="btn fw-bold border-0" type="button" data-bs-toggle="dropdown" aria-expanded="false">...</button>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="{{path('app_product_show', {'id': product.id})}}">Consulter</a></li>
                      <li><a class="dropdown-item" href="{{path('app_product_edit', {'id': product.id})}}">Modifier</a></li>
                      <li><a class="dropdown-item" href="{{path('app_product_edit', {'id': product.id})}}">Desactiver</a></li>
                    </ul>
                  </div>
            </td>
        </tr>
        {% else %}
        <tr>
            <td colspan="6" class="text-center">Aucun produit trouvé</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}